@import url('/css/config.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font), var(--secondary-font);
    line-height: 1.6;
    color: var(--secondary-color);
}

.container {
    width: 100%;
    padding: 1.25rem;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 1.25rem;
    text-align: center;
}

h2 {
    color: var(--primary-color);
    margin-top: 1.875rem;
}

p {
    margin-bottom: 0.9375rem;
}

.features {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.feature-card {
    padding: 0.9375rem;
    border-left: 0.3125rem solid var(--primary-color);
}

.footer-d {
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    flex-direction: row;
    justify-content: left;
    align-items: center;
    justify-content: space-evenly;
}

.img-f {
    height: 80px;
}

.footer-d1 {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 5px;
}

.footer-d1 a {
    margin-right: 20px;
    color: white
}

.footer-d2 {
    height: 30px;
    color: white
}

.footer-d2 span {
    color: blue;
    margin-right: 5px
}

.footer-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 5px 5px 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.footer-space {
    width: 200px;
    height: 100px;
    color: white
}

.footer-space p {
    margin-bottom: 20px;
    ;
}