@import url("config.css");
@import url("navbar.css");
@import url("uwaje.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
}


.container {
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: var(--primary-color);
}

.header p {
  font-size: 12px;
  color: var(--primary-color);
}

.edit-btn {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.edit-btn i {
  color: white;
  font-size: 14px;
}

.profile-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cover {
  height: 100px;
  background-color: var(--primary-color);
}

.bg-invisible {
  background-color: transparent;
  border: none;
}

.text-color {
  color: white;
}

.contact {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-box {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border-radius: 10px;
}

.label {
  font-size: 12px;
  color: gray;
}

.footer-d {
  display: flex;
  padding: 20px;
  background-color: var(--primary-color);
  flex-direction: row;
  justify-content: left;
  align-items: center;
  justify-content: space-evenly;
}

.img-f {
  height: 80px;
}

.footer-d1 {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 5px;
}

.footer-d1 a {
  margin-right: 20px;
  color: white
}

.footer-d2 {
  height: 30px;
  color: white
}

.footer-d2 p {
  color: white
}

.footer-d2 span {
  color: blue;
  margin-right: 5px
}

.footer-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 5px 5px 5px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footer-space {
  width: 200px;
  height: 100px;
}

.footer-space p {
  color: white;
  margin-bottom: 20px;
  ;
}