@import url("config.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  background-color: white;
}

.bg-purple {
  background-color: var(--primary-color);
}

.inner-div {
  max-width: 500px;
  background-color: var(--primary-color);
}

.header-h1 {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.header img {
  width: 80px;
}

.back-btn {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.back-btn:hover {
  transform: scale(1.1);
}

.form-floating label {
  color: #666;
}

.form-control,
.form-select {
  border-radius: 6px;
}

.submit-btn {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 25px;
  font-weight: 600;
}

.submit-btn a {
  text-decoration: none;
  color: white;
}

.submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}