@import url('/css/config.css');
@import url('/css/navbar.css');

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--secondary-color);
}

.logo-img {
    height: 3.5rem;
    width: auto;
}

.card {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 1rem;
    font-weight: 500;

}

.card .number {
    font-size: 2rem;
    font-weight: bold;
}

.table-controls {
    display: flex;
    justify-content: flex-end;
}

.student-table th {
    background-color: #f8f9fa;
    color: var(--primary-color);
    font-weight: 600;
}

.student-table tbody tr:hover {
    background-color: #f8f9fa;
}

.badge {

    border-radius: 3.125rem;
    font-size: 0.85rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.badge-present {
    background-color: var(--primary-color);
    color: #ffffff;
}

.badge-absent {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.footer-d {
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    flex-direction: row;
    justify-content: left;
    align-items: center;
    justify-content: space-evenly;
}

.img-f {
    height: 80px;
}

.footer-d1 {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 5px;
}

.footer-d1 a {
    margin-right: 20px;
    color: white
}

.footer-d2 {
    height: 30px;
    color: white;
}

.footer-d2 span {
    color: blue;
    margin-right: 5px
}

.footer-last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 5px 5px 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.footer-space {
    width: 200px;
    height: 100px;
    color: white
}

.footer-space p {
    margin-bottom: 20px;
    ;
}