* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: blue;
    flex-direction: column;
    min-height: 100vh
}

#input {
    width: 300px;
    height: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
}


#addButton {
    height: 40px;
    width: 70px
}

#tDiv {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.toDoItem {
    background-color: rgb(113, 113, 230);
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#addButton {
    background: blue;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.deleteBtn {
    background: darkblue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}