body{
   display: flex;
   justify-content: center; 
   align-items: center;
   height:100vh ;
   background-color: bisque;
}

.loader{
    width: 60px;
    height: 60px;
    border:8px solid #add ;
    border-top:8px solid blue ;
    border-radius: 50%;
    animation: spin 1s linear infinite ;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}





    






